<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      KnowYourCar
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 class="page-name">Perfil</h2>


</ion-content>
