<!--
  Generated template for the VehiclesRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Añade un nuevo vehiculo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Marca</ion-label>
      <ion-input [(ngModel)]="newCar.brand" placeholder="Ej: Volkswagen" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Modelo</ion-label>
      <ion-input [(ngModel)]="newCar.model" placeholder="Ej: Golf" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Año</ion-label>
      <ion-input [(ngModel)]="newCar.year" placeholder="Ej: 2018" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Matricula</ion-label>
      <ion-input [(ngModel)]="newCar.plate" placeholder="Ej: 00000KYA" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Kilometros</ion-label>
      <ion-input [(ngModel)]="newCar.kms" placeholder="Ej: 1000" type="number"></ion-input>
    </ion-item>
    <button item-center ion-button (click)="sendData()">Añadir</button>

  </ion-list>
</ion-content>
