// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.page-name {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 2.6rem !important;
}

.content {
  background: #005b4f;
  color: white;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ion-card {
  color: #666;
}
