<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Información sobre el vehiculo
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 class="page-name" *ngIf="car">
    <ion-icon name="ios-car"></ion-icon> {{car.brand}} {{ car.model }}</h2>
  <ion-grid *ngIf="car">
    <ion-row>
      <ion-col col-md-8 justify-content-center>
        <ion-card>
          <ion-card-header color="secondary">
            <ion-icon name="info"></ion-icon> Información
          </ion-card-header>
          <ion-card-content>
            <ul class="list">
              <li>
                <b>Año:</b> {{ car.year }}
              </li>
              <li>
                <b>Matricula:</b> {{ car.plate }}
              </li>
              <li>
                <b>Kilometros:</b> {{ car.kms }}
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div padding>
          <ion-segment [(ngModel)]="mode" color="white">
            <ion-segment-button value="reparation" (click)="getReparations()">
              Reparaciones
            </ion-segment-button>
            <ion-segment-button value="inpection" (click)="getInspections()">
              ITV
            </ion-segment-button>
            <ion-segment-button value="insurance">
              Seguros
            </ion-segment-button>
          </ion-segment>
        </div>


        <div [ngSwitch]="mode">
          <ion-list *ngSwitchCase="'reparation'">
            <ion-card *ngFor="let reparation of reparations">
              <ion-card-header color="secondary">
                {{ reparation.reason }}
              </ion-card-header>
              <ion-card-content>
                Precio: {{reparation.price}}€

                <div text-right>
                  <span>
                    <i>Fecha: {{ reparation.date | date}}</i>
                  </span>

                </div>
              </ion-card-content>
            </ion-card>

          </ion-list>
          <ion-list *ngSwitchCase="'inspection'">

          </ion-list>

          <ion-list *ngSwitchCase="'insurance'">

          </ion-list>
        </div>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
