<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      KnowYourCar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="page-name">Vehiculos</h2>
  <ion-grid>
    <ion-row>
      <ion-col col-md-5 *ngFor="let car of cars">
        <ion-card tappable (click)="view(car)">
          <ion-card-header color="secondary">
            <ion-icon name="car"></ion-icon> {{ car.brand }} {{ car.model }}
          </ion-card-header>
          <ion-card-content>
            <ul class="list">
              <li>
                <b>Año:</b> {{ car.year }}
              </li>
              <li>
                <b>Matricula:</b> {{ car.plate }}
              </li>
              <li>
                <b>Kilometros:</b> {{ car.kms }}
              </li>
              <li text-right>
                <i>Ultima revisión: XXXXX</i>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <div text-center *ngIf="cars?.length < 1">
    No se ha añadido ningun vehiculo
  </div>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="registerNewCar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
